<%if (messages.success) { %>
    <script>toastAlert("Success", "<%= messages.success %>", "alert-success");</script>
<% } %>
<%if (messages.error) { %>
    <script>toastAlert("Error", "<%= messages.error %>", "alert-danger");</script>
<% } %>
<%if (messages.warning) { %>
    <script>toastAlert("Warning", "<%= messages.warning %>", "alert-secondary");</script>
<% } %>
<%if (messages.infos) { %>
    <script>toastAlert("Information", "<%= messages.infos %>", "alert-primary");</script>
<% } %>
<center>
    <div class="w-550 mw-full">
        <div class="card p-0 shadow-lg">
            <!-- Card header -->
            <div class="px-card py-10 border-bottom">
                <h2 class="card-title font-size-24 font-weight-bold m-0 text-center text-smoothing-antialiased-lm" style="color:rgb(253, 1, 35);">
                    Contact us
                </h2>
            </div>
            <!-- Content -->
            <div class="content">
                <form method="POST" action="/contact">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" name="name" class="form-control" placeholder="Full Name"
                            required="required">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Your email"
                            required="required" id="email">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="tel" name="mobile" class="form-control" placeholder="Mobile Number"
                            required="required">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-child" aria-hidden="true"></i>
                            </span>
                        </div>
                        <textarea class="form-control" name="query" placeholder="Query"></textarea>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Register query">
                </form>
            </div>
            <!-- Card footer -->
            <div class="px-card py-10 bg-light-lm bg-very-dark-dm rounded-bottom">
                <form action="QueryStatus" method="get" class="form-inline">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Track Query</span>
                      </div>
                      <input type="text" class="form-control" name="tokens" placeholder="Enter Tokens" required id="if-2-income">
                    </div>
                    <button class="btn btn-primary">Track</button>
                </form>
            </div>
        </div>
    </div>
</center>
<br><br>