<%if (messages.success) { %>
    <div class="flex justify-end msg"><h1 class="bg-green-500 text-center rounded text-white text-lg mx-5 px-2 mt-5"><%= messages.success %></h1></div>
    <% } %>
    <%if (messages.error) { %>
    <div class="flex justify-end"><h1 class="bg-red-500 text-center rounded text-white text-lg mx-5 px-2 mt-5"><%= messages.error %></h1></div>
<% } %>
