<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="logo.ico" type="image/gif" sizes="32x32">

    <!-- Chrome, Firefox OS and Opera mobile address bar theming -->
    <meta name="theme-color" content="#000000">

    <!-- Windows Phone mobile address bar theming -->
    <meta name="msapplication-navbutton-color" content="#000000">

    <!-- iOS Safari mobile address bar theming -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

    <!-- Fav and Title -->
    <title>Corruption Reduction System</title>

    <!-- Halfmoon -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <!-- Roboto font (Used when Apple system fonts are not available) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.js"
        integrity="sha512-W0prY9paOaxiifvCq5LwDZujULfPd95HK2hR2JMWyiOQB2j4Dq7e8ShmXhDPw6tKyQDa4ryWJs0eBz0mHclKrQ=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="utils.css">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true">

    <!-- Page wrapper start -->
    <div id="sidebar" class="page-wrapper  with-navbar" data-sidebar-type="default">

        <!-- Sticky alerts -->
        <div class="sticky-alerts" style="margin-top: 50px;"></div>

        <!-- Navbar start -->
        <nav class="navbar" id="top">
            <!-- Logo -->
            <a href="/" class="navbar-brand">
                <img src="logo.png" alt="CRS" style="height: 50px;width: 50px;">
                <!--span class="d-none d-sm-flex" style="text-shadow: 1px 1px 4px #000000;font-family: fantasy;">
                    <span style="color: orangered;">CR</span>
                    <span style="color: white;">S-</span>
                    <span style="color: green;">BT</span>
                </span-->
            </a>

            <!-- Nav Items -->
            <ul class="navbar-nav d-none d-md-flex ml-auto" style="right: 100px; position: absolute;">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About us</a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link">Contact us</a>
                </li>
                <li class="nav-item" id="reg">
                    <a href="register" class="nav-link">Register</a>
                </li>
                <li class="nav-item" id="log">
                    <a href="login" class="nav-link">Login</a>
                </li>
                <li class="nav-item" id="validUser">
                    <a href="logout" class="badge-group" role="group" style="margin-top: 12px;">
                        <span class="badge" id=username style=" padding: 5px"></span>
                        <span class="badge badge-danger" id="userRole" style=" padding: 5px"></span>
                        <span class="badge badge-primary" style=" padding: 5px;">Logout</span>
                    </a>
                </li>
            </ul>

            <!-- Dark/Light Toggle Button-->
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5 rounded-circle" type="button" onclick="changeMode()">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
        <!-- Navbar end -->

        <!-- Halfmoon JS -->
        <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
        <script type="text/javascript">
            // Toasts a default alert
            function toastAlert(title, msg, type) {
                var alertContent = msg;
                // Built-in function
                halfmoon.initStickyAlert({
                    content: alertContent,
                    title: title,
                    alertType: type,
                    timeShown: 3000,
                    fillType: "filled-lm"
                })

            }
        </script>
        <div class="content-wrapper">
        <%- body %>
        </div>

            <!-- Navbar fixed bottom start -->
            <footer id="ftr">
                <div class="orange">
                    <center class="ftext">
                        CRS-BT &copy;
                        <script>let y = new Date(); document.write(y.getFullYear())</script> Made with <i
                            class="fa fa-heart ml-5 mr-5"></i> By Amdar
                        Boys
                    </center>
                </div>
                <div class="white"></div>
                <div class="green"></div>
            </footer>
            <!-- Navbar fixed bottom end -->

    </div>
    <!-- Page wrapper end -->
</body>

</html>

<script>
    // Return Cookies value by Name
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return false;
    }

    // Login/Register/Logout options enable/disable Script
    if (getCookie("isValidUser") == "true") {
        $("#log").hide()
        $("#reg").hide()
        document.getElementById("username").innerHTML = decodeURIComponent(getCookie("user_name"));
        $("#validUser").show()

    }
    else {
        $("#validUser").hide()
        $("#log").show()
        $("#reg").show()
    }

    //Script to set Set user prefered Dark/light mode to every page
    if (getCookie("darkmode") == "true") {
        $("body").addClass("dark-mode")
    }
    else {
        document.cookie = "darkmode=false"
    }

    // Script to toggle Dark mode and add current mode to cookie
    function changeMode() {
        halfmoon.toggleDarkMode()
        if (getCookie("darkmode") == "true") {
            document.cookie = "darkmode=false"
        }
        else if (getCookie("darkmode") == "false") {
            document.cookie = "darkmode=true"
        }
    }
    console.log("Dark Mode Enabled - " + getCookie("darkmode"))

    // Script to Slide Notification Window
    $('.marquee').marquee({
        direction: 'up',
        pauseOnHover: true,

    });

    // Script to Disable Horizontal Scroll
    window.onscroll = function () {
        window.scrollLeft = 0;
    }
</script>