<%if (messages.success) { %>
    <script>toastAlert("Success", "<%= messages.success %>", "alert-success");</script>
<% } %>
<%if (messages.error) { %>
    <script>toastAlert("Error", "<%= messages.error %>", "alert-danger");</script>
<% } %>
<%if (messages.warning) { %>
    <script>toastAlert("Warning", "<%= messages.warning %>", "alert-secondary");</script>
<% } %>
<%if (messages.infos) { %>
    <script>toastAlert("Information", "<%= messages.infos %>", "alert-primary");</script>
<% } %>
<center>
    <div class="w-400 mw-full">
        <div class="card p-0 shadow-lg">
            <!-- Card header -->
            <div class="px-card py-10 border-bottom">
                <h2 class="card-title font-size-24 font-weight-bold m-0 text-center text-smoothing-antialiased-lm" style="color:rgb(250, 142, 0);">
                    Reset Password
                </h2>
            </div>
            <!-- Content -->
            <div class="content">
                <form method="POST" action="/reset">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="password" name="password1" class="form-control" placeholder="Enter New Password"
                            required="required" id="email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="password" name="password2" class="form-control" placeholder="Confirm Password"
                            required="required" id="password">
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Reset">
                </form>
            </div>
            <!-- Card footer -->
            <div class="px-card py-10 bg-light-lm bg-very-dark-dm rounded-bottom">
                <div class="nav-link">
                    <a>Know Password</a>
                </div>
            </div>
        </div>
    </div>
</center>
<script>
    $("nav").hide()
</script>