<!-- <div class="container">
    <form action="/deleteScheme" method="post">
        <div class="form-group">
            <label for="name" class="required">Name</label>
            <input type="text" name="name" id="name" value="<%= scheme.name %>" class="form-control"
                placeholder="Scheme Name" required="required">
        </div>
        <div class="form-group">
            <label for="cost" class="required">Cost</label>
            <input type="text" id="cost" name="cost" value="<%= scheme.cost %>" class="form-control"
                placeholder="Cost of Scheme" required="required">
        </div>
        <div class="form-group">
            <label for="desc" class="required">Description</label>
            <textarea class="form-control" id="description" name="description" 
                placeholder="Give detailed description about scheme/ project"><%= scheme.description %></textarea>
        </div>
        <div class="form-group">
            <label for="date" class="required">Date</label>
            <input type="date" id="date" name="date" value="<%= scheme.date %>" class="form-control" placeholder="Date"
                required="required">
        </div>
        <input class="btn btn-danger btn-block" type="submit" value="Update Scheme">
    </form>
</div> -->

hello